/* header */

.header-div {
    background-size: cover;
    background-repeat: no-repeat;
}

.map-div {
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
}

.map {
    max-width: 1088px;
    width: 100%;
    height: 286px;
}